<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library Page</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Library Books</h1>
      <ul id="booksList"></ul>
      <button id="backToStudentBtn">Back to Student Page</button>
      <button id="logoutBtn">Logout</button>
    </div>
    <script src="/js/library.js"></script>
  </body>
</html>
